<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.css">
        <style>
            body {
				background-color:#CCC;
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-responsive.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

     

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">FlexProp</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                        </ul>

                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container-fluid">

            <!-- Main hero unit for a primary marketing message or call to action -->
            

            <!-- Example row of columns -->
            <div class="row-fluid">
            <div class="span2">
            	 
      <ul class="nav nav-tabs nav-stacked flex-container">
        <li class="active" ><a href="#"> <i class="icon-th-large"></i> Inicio</a></li>
        <li ><a href="#"><i class="icon-home"></i> Propiedades</a></li>
        <li ><a href="#"> <i class="icon-user"></i> Contactos</a></li>
        <li ><a href="#"><i class="icon-calendar"></i> Calendario</a></li>
        <li  ><a href="#"><i class="icon-list-alt"></i> Herramientas</a></li>
        <li ><a href="#"><i class="icon-cog"></i> Configuracion</a></li>
      </ul>
			</div>
            
            
            <div class="span10">
            <div class="row-fluid">
                <div class="span4 flex-container" style="background-color:#09C; padding:5px;">
                    <h2>Heading</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn" href="#">View details &raquo;</a></p>
                </div>
                
                <div class="span4">
                	<div class="flex-container">
                    <div class="flex-container1" style="background-color:#0C9; color:#FFF;"><b>Heading</b></div>
                    <div class="flex-container2" style="background-color:#000; color:#FFF;"><p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn" href="#">View details &raquo;</a></p></div>
                    <div class="flex-container3" style="background-color:#fff; color:#0C9;">Compartir</div>
                    </div>
               </div>
               
                <div class="span4">
                    <h2>Heading</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    <p><a class="btn" href="#">View details &raquo;</a></p>
                </div>
                </div>
                <hr>
                <div class="row-fluid">
                <div class="span6">
                	<div class="flex-container">
                		<div class="flex-container1">                
                		<iframe width="100%" height="100%" class="flex-container1" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.ar/maps?f=q&amp;source=s_q&amp;hl=es-419&amp;geocode=&amp;q=Jos%C3%A9+E.+Batallan+2834,+S%C3%A1enz+Pena,+Buenos+Aires&amp;aq=0&amp;oq=batallan+2834&amp;sll=-34.630895,-58.416131&amp;sspn=0.012801,0.026157&amp;gl=ar&amp;ie=UTF8&amp;hq=&amp;hnear=Jos%C3%A9+E.+Batallan+2834,+S%C3%A1enz+Pena,+Buenos+Aires&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
               			</div>
               			<div class="flex-container3">José Batallan 2834<br>Sáenz Peña, Buenos Aires.</div>
                 	</div>
                 </div>
           
                <div class="span6">
                <h2>Parrafo Extra</h2>
                <p>Buenas noches este es otro texto mas de prueba. A continuacion un parrafo sin sentido:Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>
                </div>
            </div><!-- Row Fluid -->
            </div>
            </div>
            

            <hr>

            <footer>
                <p>&copy; Company 2012</p>
            </footer>

        </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
